body {
    background: url(https://img.freepik.com/free-vector/wireless-network-symbol-wifi-abstract-low-poly-wireframe-mesh-design-from-connecting-dot-line-vector-illustrationfuturistic-design-dark-blue-background_587448-958.jpg?w=1060&t=st=1729464463~exp=1729465063~hmac=fd2124c51c1777f2ad6c369383e0ec3a0ff3c9cf353e69f750f0e7e6011764e6) no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.footer {
    margin-top: 20px;
    font-size: 12px;
    color: #777;
}
